.Ionslides {
   background: 272727;
   background: linear-gradient(to right, #062f4b, #327196,#154a6f); 
   padding: auto;
    height: 99%;
    margin-top: 0%;
    size: 2rem;
  }
  .manualimg{
    max-height:320px;
    margin: 0 auto;
    max-width: 300px;
    min-width: 208px;
    min-height: 300;
  }
.textSl{
  position:relative;
  text-align: justify;
  margin: 0.3em;
  padding: 0 1em;
}
.center{
  text-align: center;
}