.Content{
    position: relative;
    width: 100%;
    height: 100%;
}
.TextActive{
    text-align: justify;
}
.center{
    padding-top: 10px;
}
.centerItem{
    padding-top: 10px;
    text-align: center;
    position:center;
    color: #ffff;
}
.Grafic{
    background: 272727;
    background: linear-gradient(to right, #062f4b, #327196,#154a6f); 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}