.center{
    text-align: center;
}
.Titulo{
    text-align: center;
    color: #5195FF;
}
.justificar{
    text-align: justify;
    color: #344ec0;
}
.CenterElement {
    width: 98%;
    display: flex;
    align-items: center;
    border-radius: 8px;
    justify-content: center;
}
img{
    max-height:320px;
    margin: 0 auto;
    max-width: 400px;
    min-width: 208px;
    min-height: 300;
}
.ion-grid{
    padding: 1px;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fit,minmax(400px, 1fr));
    border-radius: 10px;
    grid-auto-rows: minmax(500px,auto);
    grid-auto-flow: dense;
    gap: 0.2px;
}
IonContent{
    margin: 0;
    box-sizing: border-box;
}
.listaInicio{
    margin-bottom: 5px;
   font-size: 15px;
}
.justificar{
    text-align: justify;
   text-size-adjust: 10px;
}