.Contextpage{
   text-align: center;
   display: 'flex';
}
.Contexttitulo{
    padding: 20px;
    font-size: 45px;
    color:#5195FF;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.fullscreen{
   background: 272727;
   background: linear-gradient(to right, #062f4b, #327196,#154a6f); 
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 18px;
   text-align: center;
   display: flex;
   height: 780px;
   justify-content: center;
   align-items: center; 
   position: absolute;
}
.Contextform {
   padding: 50px 0;
   border-radius: 20px;
}
.Contextform .ContextLogo{
    left: 20px;
    margin-top: 0px;
    max-width: 300px;
    max-height:320px;
   margin: 0 auto;
   max-width: 270px;
   min-width: 250px;
   min-height: 300;
}
.ContextInput{
   width: 38%;
    left: 30%;
    border: none ;
    margin-bottom: 10px;
    padding: 10px  10px;
}
